
 body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbarTitle {
    margin-right:32px;
    /* margin: 0 auto; */
    font-size: 16px;
}
.btn-primary-scan {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color:  #ffffff!important; 
    background-color: #2c5f85 !important; 
    border-color:  #000000 !important;
    width: 80px; /* Đảm bảo kích thước tối đa không vượt quá kích thước của phần tử cha */
    height: auto; 
}
.btn-primary-scan img {
    padding-bottom: 2px;
    width: 22px; /* Đặt kích thước chiều rộng mong muốn */
    height: auto;
}
#infoButton {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 0 px;
    background: #ffffff;
    color: rgb(38, 15, 15);
    border: none;
    font-size: 17px;
    cursor: pointer;
}
.info-content {
    display: none;
    position: absolute;
    top: 5px; 
    left: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    white-space: pre-line; /* Hiển thị thông tin theo hàng dòng */
    line-height: 0.1;
}
.alert-info {
    background-color: #17a2b8;
    color: #fff;
}
body h6 {
    font-size: 12px;
}
footer {
    background-color: #343a40;
    color: #fff;
}
.center-text {
    text-align: center;
    color: #333; /* Màu sắc văn bản tùy chọn */
    font-size: 24px; /* Kích thước font tùy chọn */
}
  @media screen and (orientation: landscape) {
    
}

/* Media query cho chế độ dọc */
@media screen and (orientation: portrait) {
    
}
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-panel, .bottom-panel {
    flex: 1;
    overflow: auto;
    padding: 10px;
}

/* Add any additional styling for your panels as needed */
.top-panel {
    background-color: #7adae9;
}

.bottom-panel {
    background-color: #ffffff;
}
.square {
    aspect-ratio: 1; /* Tạo hình vuông bằng cách giữ tỷ lệ khung hình */
    padding: 15px;
    background-color: white;
}
.row{
    justify-content: space-between;
    padding: 70px;
}
.content {
    color: #000000;
    text-align: center;
    margin-top: 10px;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid-item.black {
    background-color: black;
}

.grid-item.white {
    background-color: white; 
}
input[type="range"] {
    width: 100%;
}
.distance-text{
    margin:0 0;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr); /* Tạo 15 cột với chiều rộng bằng nhau */
    grid-template-rows: repeat(15, 1fr);    /* Tạo 15 dòng với chiều cao bằng nhau */
    width:100vw;
    background-color: #7adae9;
  }

  .grid-item {
    border: 1px solid #000;
    text-align: center;
    background-color: white;
  }
  .grid-item.distance-text {
    grid-column: 6 / span 5; /* Bắt đầu từ cột 6 và chiếm 4 cột */
    grid-row: 2; /* Nằm ở hàng 2 */
    font-size: 20px;
  }
  .grid-item.distance-slider {
    grid-column: 3 / span 11; /* Bắt đầu từ cột 6 và chiếm 4 cột */
    grid-row: 3; /* Nằm ở hàng 2 */
  }
  .grid-item.ir4L {
    grid-column: 2; /* Bắt đầu từ cột 6 và chiếm 4 cột */
    grid-row: 6; /* Nằm ở hàng 2 */
    height:30px;
    width:30px;
  }
  .grid-item.ir2L {
    grid-column: 5; /* Bắt đầu từ cột 6 và chiếm 4 cột */
    grid-row: 6; /* Nằm ở hàng 2 */
    height:30px;
    width:30px;
  }
  .grid-item.ir0L {
    grid-column: 7; /* Bắt đầu từ cột 6 và chiếm 4 cột */
    grid-row: 6; /* Nằm ở hàng 2 */
    height:30px;
    width:30px;
  }
  .grid-item.ir1R {
    grid-column: 9; /* Bắt đầu từ cột 6 và chiếm 4 cột */
    grid-row: 6; /* Nằm ở hàng 2 */
    height:30px;
    width:30px;
  }
  .grid-item.ir3R {
    grid-column: 11; /* Bắt đầu từ cột 6 và chiếm 4 cột */
    grid-row: 6; /* Nằm ở hàng 2 */
    height:30px;
    width:30px;
  }
  .grid-item.ir5R {
    grid-column: 14; /* Bắt đầu từ cột 6 và chiếm 4 cột */
    grid-row: 6; /* Nằm ở hàng 2 */
    height:30px;
    width:30px;
  }
  .grid-item.ir6L {
    grid-column: 2; /* Bắt đầu từ cột 6 và chiếm 4 cột */
    grid-row: 8; /* Nằm ở hàng 2 */
    height:30px;
    width:30px;
  }
  .grid-item.ir7R {
    grid-column: 14; /* Bắt đầu từ cột 6 và chiếm 4 cột */
    grid-row: 8; /* Nằm ở hàng 2 */
    height:30px;
    width:30px;
  }
  .grid-item.TB1A {
    grid-column: 4; /* Bắt đầu từ cột 6 và chiếm 4 cột */
    grid-row: 10 / span 2; /* Nằm ở hàng 2 */
    height:60px;
    width:30px;
  }
  .grid-item.TB2A {
    grid-column: 4; /* Bắt đầu từ cột 6 và chiếm 4 cột */
    grid-row: 13 / span 2; /* Nằm ở hàng 2 */
    height:60px;
    width:30px;
  }
  .grid-item.TB1B {
    grid-column: 12; /* Bắt đầu từ cột 6 và chiếm 4 cột */
    grid-row: 10 / span 2; /* Nằm ở hàng 2 */
    height:60px;
    width:30px;
  }
  .grid-item.TB2B {
    grid-column: 12; /* Bắt đầu từ cột 6 và chiếm 4 cột */
    grid-row: 13 / span 2;/* Nằm ở hàng 2 */
    height:60px;
    width:30px;
  }
/* .ir2L { background-color: var(--ir2L-color); }
.ir0L { background-color: var(--ir0L-color); }
.ir1R { background-color: var(--ir1R-color); }
.ir3R { background-color: var(--ir3R-color); } */
